#display {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
  }

#calculator {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-top: 2em;
    max-width: 50em;
    max-height: 50em;
    border-radius: 12px;
    overflow: hidden;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #keys {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
  }

#equal-key {
    background-color:  #ff7033;
    grid-column: 1 / span 4;
    width: auto; 
  }
  
  button {
    width: 100px;
    height: 80px;
    border: 2px solid #cccccc;
    border-radius: 0;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
  }


  